<ul class="team-list">
  {{#each model as |team|}}
  <li>
    {{#link-to 'team' team}}
      <h2><em>{{team.name}}</em></h2>
      {{#bar-graph percentage=team.fanScorePercent}}{{team.fanScore}}{{/bar-graph}}
    {{/link-to}}
  </li>
  {{/each}}
</ul>
{{outlet}}
