<div class="team-page {{model.cssClass}}">
  <div class="primary-header"></div>
  <div class="score">
    <div class="score-text">{{model.fanScore}}</div>
  </div>
      
  <div class="team-text">{{model.name}}</div>

  <h2 class="fans-header">Fans</h2>
  {{#each model.fans as |fan|}}
    {{#link-to 'fan' fan.id}}
      <div class="fan">
        <div class="name">{{fan.name}}</div>
      </div>
    {{/link-to}}
  {{/each}}
</div>
