// Bitters 1.1.0
// http://bitters.bourbon.io
// Copyright 2013-2015 thoughtbot, inc.
// MIT License

@import "variables";

// Neat Settings -- uncomment if using Neat -- must be imported before Neat
// @import "grid-settings";

@import "buttons";
@import "forms";
@import "lists";
@import "tables";
@import "typography";

body {
  padding-top: 3em;
}

:focus {
  outline: none;
  box-shadow: $form-box-shadow-focus;
}

.logo {
  font-family: $logo-font-family;
}

.top-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 3em;
  background: $red;
  
  .logo {
    color: $white;
    font-size: 1.5em;
    line-height: 1.75em;
    margin-left: 0.75em;
  }
  .menu-button {
    position: absolute;
    top: 0;
    right: 0;
    height: 3em;
    padding: 0.75em;
  }
}

.menu-button {
  .icon {
    font-size: 1.5em;
    margin: 0;
  }
}

.bar-graph {
  height: 2em;
  background-color: $light-gray;
  .bar {
    height: 2em;
    background-color: $action-color;
  }
}
