// Typography
$base-font-family: $helvetica;
$heading-font-family: $base-font-family;
$logo-font-family: "Fugaz One", $helvetica;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$blue: #477dca;
$dark-blue: #31333c;
$red: #d83621;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$white: #fff;

// Font Colors
$base-font-color: $dark-gray;
$action-color: $red;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;

// Team colors
$bc-pri: #040204;
$bc-sec: #EB6E1F;
$ham-pri: #231F20;
$ham-sec: #FDBA31;
$ott-pri: #000;
$ott-sec: #C4122F;
$tor-pri: #003264;
$tor-sec: #8BA6BE;
$wpg-pri: #002A5C;
$wpg-sec: #90723C;
$edm-pri: #004812;
$edm-sec: #FDBA31;
$sask-pri: #0B1A13;
$sask-sec: #00704A;
$mon-pro: #003D79;
$mon-sec: #98012E;
$cgy-pri: #040204;
$cgy-sec: #E41A34;
